*{
    background-color: blueviolet;
}
html{
    font-size: 62,5%;
}

.menu{
    font-size: 1rem;
    text-decoration: none;
    padding: 5px;
    background-color: black;

}

ul li a {
   display: flex;
   justify-content: flex-end;
  
}